body {
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h3 {
    align-self: flex-end;
    font-size: 25px;
    color: white;
}
.row {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    align-self: center;
    font-size: 80px;
    color: white;
    
}

.first-row {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 0;
}
    h4 {
    font-size: 30px;
    color: white;
    font-weight: 500;
}

img {
    height: fit-content;
    align-self: center;
}
h5 {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

